body {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}


header {
    font-size: 4em;
    color: black;
    font-family: georgia;
}

#pong {
    border: 5px solid black;
    position: absolute;
    margin: auto;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
}


