body {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: black;
}

header {
    font-size: 4em;
    color: white;
    font-family: georgia;
}

#pong {
    border: 5px solid white;
    position: absolute;
    margin: auto;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
}


