body {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

header {
    font-size: 4em;
    color: white;
    font-family: georgia;
    display: block;
    text-align: center;
    margin-top: 50px;
   
}

#pong {
    border: 5px solid white;
    position: absolute;
    margin: auto;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
}

canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    border-color: white;
    border-radius: 25px;
}


#start {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    padding: 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    height: 200px;
    width: 250px;
    text-align: center;
}

#game-over {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    padding: 15px;
    position: fixed;
    top: 60%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    height: 200px;
    width: 250px;
    text-align: center;
}

#start a, #game-over a {
    border: 3px solid white;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    display: block;
    width: 200px;
    text-align: center;
    font-size: 2em;
    display: inline-block;
}

#start a:hover, #game-over a:hover { background-color: white; color: black}

